<div class="container mx">

    <h2>Loguearse</h2>
    <form method="post" class="m-4">

            <strong>Ingrese su nombre</strong>
        <div class="input-group">
            <label for="username" class="input-group-text">Nombre </label>
            <input name="username" placeholder="Nombree" class="form-control" required>
        </div>
{{!--         <div class="input-group">
            <label for="password" class="input-group-text">Contraseña </label>
            <input name="password" type="number" placeholder="Password" class="form-control" required>
        </div> --}}
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>
